<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="">
      <img class="logo-reducido" src="img/logo-reducido.png" alt="">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href="index.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar usuario
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a href="registrar-usuario.html">Registrar</a>
          </li>
          <li>
            <a href="#">Listar usuarios</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li >
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reportes
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Estudiante que mas uso la bicicleta en el semestre</a>
          </li>
          <li>
            <a href="#">Docente que mas uso la bicicleta en el semestre</a>
          </li>
          <li>
            <a href="#">Administrativo que mas uso la bicicleta en el semestre</a>
          </li>
          <li>
            <a href="#">Reporte personalizado</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a href="crear-incentivo.html">Crear un incentivo</a>
          </li>
          <li>
            <a href="#">Listar incentivos</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike</p>
      </div>
    </nav>

    <h2>Reportes</h2>
    <canvas id="myChart" ></canvas>
    
  </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
  integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
</script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
  integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
</script>