<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="">
      <img class="logo-reducido" src="img/logo-reducido.png" alt="">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="/inicio" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar usuario
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
        </ul>
      </li>
      <li >
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a routerLink="/listar-incentivos">Listar incentivos</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike</p>
      </div>
    </nav>
    <form>
      <div class="ctn-opcion-reporte-inicio container">
        <div class="row">
          <p class="col-3">Personaliza tu top 5: </p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Poblacion</label>
            </div>
            <select class="custom-select" id="poblacion">
              <option *ngFor="let usuario of poblacion">
                {{usuario}}
              </option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Tiempo</label>
            </div>
            <select class="custom-select" id="Tiempo">
              <option *ngFor="let fecha of tiempo">
                {{fecha}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <canvas baseChart
      [datasets]= "barChartData"
      [labels]= "barChartLabels"
      [options]= "barChartOptions"
      [legend]= "barChartLegend"
      [chartType]= "barChartType"></canvas>    
  </div>
</div>