<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="Autonoma del Cauca">
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/inicio" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar usuario
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a routerLink="/listar-incentivos">Listar incentivos</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike /</p> <p>Registrar Usuario</p> 
      </div>
    </nav>
    <div class="contenedor-formulario"  [ngStyle]="{display: (visibleFormBikeTrue) ? 'flex': 'none'}">
        <form class="form-registrar-usuario" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <h1 class="titulo-login">Registrar Usuario</h1>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre-usuario">Nombres</label>
              <input type="text" class="form-control" id="nombre-usuario" placeholder="Nombre(s)" name="nombre" #nombre="ngModel" [(ngModel)]="crudService.selectUser.nombre">
            </div>
            <div class="form-group col-md-6">
              <label>Apellido</label>
              <input type="text" class="form-control" placeholder="Apellido(s)" name="apellido" #apellido="ngModel" [(ngModel)]="crudService.selectUser.apellido">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo de usuario</label>
              </div>
              <select [(ngModel)]="tipoSeleccionado" (change)="capturar()" class="custom-select" id="inputGroupUsers" name="tipo">
                <option selected value="0">Seleccionar</option>
                <option *ngFor="let usuario of poblacion" >
                  {{usuario}}
                </option>
              </select>
              <div *ngIf="tipoSeleccionado" style="display: none;">
                <input type="text" value="{{tipoSeleccionado}}" name="tipo" #tipo="ngModel" [(ngModel)]="crudService.selectUser.tipo">
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Genero</label>
              </div>
              <select [(ngModel)]="generoSeleccionado" (change)="generoUsuario()" class="custom-select" id="inputGroupUsers" name="genero">
                <option selected value="0">Seleccionar</option>
                <option *ngFor="let sexo of genero" >
                  {{sexo}}
                </option>
              </select>
              <div *ngIf="generoSeleccionado" style="display:none">
                <input type="text" value="{{generoSeleccionado}}" name="genero" #genero="ngModel" [(ngModel)]="crudService.selectUser.genero">
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo de identificacion</label>
              </div>
              <select class="custom-select" id="inputGroupIds" [(ngModel)]="idSeleccionado" (change)="idUsuario()" name="tipoid">
                <option selected>Seleccionar</option>
                <option *ngFor="let id of identificaciones" >
                  {{id}}
                </option>
              </select>
              <div *ngIf="idSeleccionado" >
                <input type="text" value="{{idSeleccionado}}" name="tipoid" #tipoid="ngModel" [(ngModel)]="crudService.selectUser.tipoid">
              </div>
            </div>
            <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Semestre</label>
              </div>
              <select class="custom-select" id="inputGroupSemestres" [(ngModel)]="semestreSeleccionado" (change)="semestreUsuario()" name="semestre">
                <option selected>Seleccionar</option>
                <option *ngFor="let semestre of semestres">
                  {{semestre}}
                </option>
              </select>
              <div *ngIf="semestreSeleccionado" style="display: none;">
                <input type="text" value="{{semestreSeleccionado}}" name="semestre" #semestre="ngModel" [(ngModel)]="crudService.selectUser.semestre">
              </div>
            </div>
            <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Carrera</label>
              </div>
              <select class="custom-select" id="inputGroupCarreras" [(ngModel)]="carreraSeleccionada" (change)="carreraUsuario()" name="carrera">
                <option selected>Seleccionar</option>
                <option *ngFor="let carrera of carreras">
                  {{carrera}}
                </option>
              </select>
              <div *ngIf="carreraSeleccionada" style="display: none;">
                <input type="text" value="{{carreraSeleccionada}}" name="carrera" #carrera="ngModel" [(ngModel)]="crudService.selectUser.carrera">
              </div>
            </div>
            <label>Numero de identificacion</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
              </div>
              <input type="number" class="form-control" placeholder="Numero de identificacion" name="identificacion" #identificacion="ngModel" [(ngModel)]="crudService.selectUser.identificacion">
            </div>
          </div> 
          
          <div class="form-group">
            <label>Correo Electronico</label>
            <div class="input-group mb-3">	
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Correo electronico" name="email" #email="ngModel" [(ngModel)]="crudService.selectUser.email" (change)="emailUser()">
              <div *ngIf="crudService.selectUser.email" style="display: none;">
                <input type="email" value="{{crudService.selectUser.email}}" name="emailUs" [(ngModel)]="emailUs">
              </div>
            </div>
          </div>
          
          <div class="form-group">  
            <label>contraseña</label>
            <div class="input-group mb-3">	
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Contraseña minimo 6 caracteres" name="password" #password="ngModel" [(ngModel)]="UserPassword">
            </div>
          </div>
          <div class="container-fluid ctn-btns-usario-bici" id="main-content">
              <div class="container">
                <div class="row">
                  
                  <input #imageUser type="hidden" [value]="urlImage | async">
                  <div class="ctn-btn-registrar-usuario">
                    <button type="submit" class="btn btn-primary" (click)="registrar()">
                      <i class="fas fa-plus-circle"></i> Registrar Usuario
                    </button>
                  </div>
                  <div class="ctn-btn-registrar-usuario">
                    <button type="reset" class="btn btn-secondary" (click)="resetForm(userForm)">
                      <i class="fas fa-sync-alt"></i> Limpiar Formulario
                    </button>
                  </div>
                  <!--
                  <div class="col-5 ctn-foto-bicicleta">
                    <button type="button" class="btn btn-outline-secondary btn-subir-bici" data-toggle="modal" data-target="#exampleModal">
                      Informacion de la bicicleta
                    </button>
                  </div>
                  -->
              </div>
            </div>
          </div>
            
          </form>

    </div>

    <!--FORMULARIO BICICLETA-->
    <div class="contenedor-formulario" [ngStyle]="{display: (visibleFormBikeFalse) ? 'flex': 'none'}">
      <form class="form-registrar-usuario">
        <h1 class="titulo-login">Registrar Bicicleta</h1>
        <app-registrar-bicicleta></app-registrar-bicicleta>
      </form>
    </div>

  </div>
  
</div>
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-registrar-bicicleta></app-registrar-bicicleta>
      </div>
    </div>
  </div>
</div>
-->