<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="Autonoma del Cauca">
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/inicio" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar Usuario</a>
          </li>
          <li>
            <a routerLink="/registrar-bicicleta">Registrar Bicicleta</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
          <li>
            <a routerLink="/listar-bicicletas">Listar Bicicletas</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a routerLink="/listar-incentivos">Listar incentivos</a>
          </li>
        </ul>
        
      </li>
      <li>
        <a (click)="logout()">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike /</p> <p>Registrar Usuario</p> 
      </div>
    </nav>
    <div class="contenedor-formulario">
        <form class="form-registrar-usuario" #userForm="ngForm" (ngSubmit)="addUser(userForm)" autocomplete="off">
          <h1 class="titulo-login">Registrar Usuario</h1>
          <div class="form-row"> 

            
            
            <input type="hidden" name="contador" [(ngModel)]="user.contador" value="{{contador}}">
            <div class="form-group col-md-6">
              <label for="nombre-usuario">Nombres</label>
              <input type="text" class="form-control" placeholder="Nombre(s)" name="nombre" 
              [(ngModel)]="user.nombre" required >
              <!--
              <div *ngIf="nombre.touched && !nombre.valid">
                <p style="color: red;" *ngIf="nombre.errors.required">El nombre es requerido</p>
              </div>
              -->
            </div>
            <div class="form-group col-md-6">
              <label>Apellido</label>
              <input type="text" class="form-control" placeholder="Apellido(s)" name="apellido" [(ngModel)]="user.apellido" required>
              <!--
              <div *ngIf="apellido.touched && !apellido.valid">
                <p style="color: red;" *ngIf="apellido.errors.required">El apellido es requerido</p>
              </div>
              -->
            </div>
          </div>
          
          <div class="form-group">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text">Tipo de usuario</label>
                </div>
                <select [(ngModel)]="user.tipo" (change)="capturar()" class="custom-select" id="inputGroupUsers" name="tipo" type="text" required>
                  <option *ngFor="let usuario of poblacion">
                    {{usuario}}
                  </option>
                </select>
                <div *ngIf="user.tipo" style="display: none">
                  <input type="text" name="contador" #contador="ngModel"
                    [(ngModel)]="user.contador">
                </div>
              </div>
              
            
           
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Genero</label>
              </div>
              <select [(ngModel)]="user.genero" (change)="generoUsuario()" class="custom-select" id="inputGroupUsers" name="genero">
                <option *ngFor="let sexo of genero" >
                  {{sexo}}
                </option>
              </select>
            </div>
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo de identificacion</label>
              </div>
              <select class="custom-select" [(ngModel)]="user.tipoid" (change)="idUsuario()" name="tipoid">
                <option *ngFor="let id of identificaciones" >
                  {{id}}
                </option>
              </select>
            </div>
            <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Semestre</label>
              </div>
              <select class="custom-select" id="inputGroupSemestres" [(ngModel)]="user.semestre" (change)="semestreUsuario()" name="semestre">
                <option *ngFor="let semestre of semestres">
                  {{semestre}}
                </option>
              </select>
            </div>
            <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Carrera</label>
              </div>
              <select class="custom-select" id="inputGroupCarreras" [(ngModel)]="user.carrera" (change)="carreraUsuario()" name="carrera">
                <option *ngFor="let carrera of carreras">
                  {{carrera}}
                </option>
              </select>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nombre-usuario">Peso</label>
                <input type="number" class="form-control" placeholder="Peso en Kilogramos" name="peso" id="peso" [(ngModel)]="user.peso" required >
                <!--
                <div *ngIf="peso.touched && !peso.valid">
                  <p style="color: red;" *ngIf="peso.errors.required">El peso es requerido</p>
                </div>
                -->
              </div>
              <div class="form-group col-md-6">
                <label>Talla</label>
                <input type="number" class="form-control" placeholder="Estatura en metros" name="talla" [(ngModel)]="user.talla" required>
                <!--
                <div *ngIf="talla.touched && !talla.valid">
                  <p style="color: red;" *ngIf="talla.errors.required">la talla es requerida</p>
                </div>
                -->
              </div>
            </div>
            <div class="form-row" >
              <div class="form-group col-md-6">
                <label for="nombre-usuario">Perimetro Abdominal</label>
                <input type="number" class="form-control" placeholder="perimetro en centimetros" name="perimetro" [(ngModel)]="user.perimetro" required >
                <!--
                <div *ngIf="perimetro.touched && !perimetro.valid">
                  <p style="color: red;" *ngIf="perimetro.errors.required">El perimetro es requerido</p>
                </div>
                -->
              </div>
              <div class="form-group col-md-6">
                <label>Telefono</label>
                <input type="text" class="form-control" placeholder="Numero telefonico" name="celular" [(ngModel)]="user.celular" required>
                <!--
                <div *ngIf="celular.touched && !celular.valid">
                  <p style="color: red;" *ngIf="celular.errors.required">El telefono es requerido</p>
                </div>
                -->
              </div>
            </div>

            <label>Numero de identificacion</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
              </div>
              <input id="idusuario" type="text" class="form-control" placeholder="Numero de identificacion" name="identificacion" #identificacion="ngModel" [(ngModel)]="user.identificacion" required>
              <!--
              <div *ngIf="identificacion.touched && !identificacion.valid" >
                <p style="color: red;" *ngIf="identificacion.errors.required">La identificacion es requerida</p>
              </div>
              -->
            </div>
          </div> 
  
          <div class="form-group">
            <label>Correo Electronico</label>
            <div class="input-group mb-3">	
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Correo electronico" name="email" [(ngModel)]="user.email" (change)="emailUser()" required>
              <!--
              <div *ngIf="email.touched && !email.valid" >
                <p style="color: red;" *ngIf="email.errors.required">El correo es requerido</p>
              </div>
              -->
            </div>
          </div>

          <div class="form-group">  
            <label>contraseña</label>
            <div class="input-group mb-3">	
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="UserPassword" autocomplete="new-password" minlength="6" required>
              </div>
              <div>
                <!--
                <div *ngIf="password.touched && !password.valid" >
                  <p style="color: red;" *ngIf="password.errors.required">La contraseña es requerida</p>
                  <p style="color: red;" *ngIf="password.errors.minlength">La contrasela debe ser de al menos {{password.errors.minlength.requiredLength}} caracteres</p>                
                </div>-->
            </div>
          </div>
          <input type="hidden" name="contador" #contador="ngModel" [(ngModel)]="user.contador">
          <div class="container-fluid ctn-btns-usario-bici" id="main-content">
              <div class="container">
                <div class="row" style="flex-direction: column">
                  <div class="ctn-btn-registrar-usuario">
                    
                    <button type="submit" class="btn btn-primary" (click)="registrar()">
                      <i class="fas fa-plus-circle"></i> Registrar Usuario
                    </button>
                  
                  </div>
                  <div class="ctn-btn-registrar-usuario">
                    <button type="reset" class="btn btn-secondary" (click)="resetForm(userForm)">
                      <i class="fas fa-sync-alt"></i> Limpiar Formulario
                    </button>
                  </div>
                  
                  
              </div>
            </div>
          </div>
            
          </form>

    </div>
  </div>
  
</div>