<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="/inicio" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar Usuario</a>
          </li>
          <li>
            <a routerLink="/registrar-bicicleta">Registrar Bicicleta</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
          <li>
            <a routerLink="/listar-bicicletas">Listar Bicicletas</a>
          </li>
        </ul>
      </li>
      <li >
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a routerLink="/listar-incentivos">Listar incentivos</a>
          </li>
        </ul>
        
      </li>
      <li>
        <a (click)="logout()">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike</p>
      </div>
    </nav>
    <form #bikeForm="ngForm" (ngSubmit)="addBike(bikeForm)" autocomplete="off">
      <h1 class="titulo-login">Registrar Bicicleta</h1>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="color-bici">Correo electronico del usuario</label>
            <input type="email" class="form-control" id="color-bici" placeholder="Example@email.com" name="identificacion"
              #identificacion="ngModel" [(ngModel)]="bicicleta.id" >
          </div>
          <div class="form-group col-md-6">
            <label for="color-bici">Color de la bicicleta</label>
            <input type="text" class="form-control" id="color-bici" placeholder="Color(es) predominante(s)" name="color" [(ngModel)]="bicicleta.color">
          </div>
          <div class="form-group col-md-6">
            <label>Marca</label>
            <input type="text" class="form-control" placeholder="Marca del marco" name="marca" [(ngModel)]="bicicleta.marca">
          </div>
          <div class="form-group col-md-6">
            <label>Serial</label>
            <input type="text" class="form-control" placeholder="Serial del marco" name="serial" [(ngModel)]="bicicleta.serial">
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
          </div>
          <select class="custom-select" id="inputGroupCarreras" [(ngModel)]="bicicleta.tipo" (change)="tipoSeleccionado()" name="tipo">
            <option *ngFor="let tipo of tiposBici">
              {{tipo}}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <div class="ctn-btn-registrar-usuario">
          <button type="submit" class="btn btn-primary" (click)="registrarBici()">
            <i class="fas fa-plus-circle"></i> Registrar bicicleta
          </button>
        </div>
        <div class="ctn-btn-registrar-usuario">
          <button type="reset" class="btn btn-secondary" (click)="resetForm(userForm)">
            <i class="fas fa-sync-alt"></i> Limpiar Formulario
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

