<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="Autonoma del Cauca">
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/inicio" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar usuario
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a routerLink="/listar-incentivos">Listar incentivos</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
      </ul>
  </nav>

  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike /</p> <p>Crear Incentivo</p> 
      </div>
    </nav>
    <div class="contenedor-formulario">
      <form class="form-crear-incentivo" #incentivoForm="ngForm" (ngSubmit)="onSubmitIncentivo(incentivoForm)">
        <h1 class="titulo-login">Ingresar incentivo</h1>
        <div class="form-row">
          <div class="form-group col-md-6">
           <label for="titulo-incentivo">Titulo del incentivo *</label>
           <input type="text" class="form-control" placeholder="Titulo del incentivo" name="titulo" #titulo="ngModel" [(ngModel)]="crudService.selectIncentivo.titulo">
          </div>
          <div class="form-group col-md-6">
           <label>Responsable *</label>
           <input type="text" class="form-control" placeholder="Persona a cargo" name="responsable" #responsable="ngModel" [(ngModel)]="crudService.selectIncentivo.responsable">
          </div>
        </div>
        <label class="lb-incentivo">El incentivo va dirigido a: *</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo de usuario</label>
          </div>
          <select [(ngModel)]="tipoSeleccionado" (change)="capturar()" class="custom-select" id="inputGroupUsers" name="tipo">
            <option selected value="0">Seleccionar</option>
            <option *ngFor="let usuario of poblacion" >
              {{usuario}}
            </option>
          </select>
          <div *ngIf="tipoSeleccionado" style="display: none;">
            <input type="text" value="{{tipoSeleccionado}}" name="tipo" #tipo="ngModel" [(ngModel)]="crudService.selectIncentivo.tipo">
          </div>
        </div>
        <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Semestre</label>
          </div>
          <select class="custom-select" id="inputGroupSemestres" [(ngModel)]="semestreSeleccionado" (change)="semestreUsuario()" name="semestre">
            <option selected>Seleccionar</option>
            <option *ngFor="let semestre of semestres">
              {{semestre}}
            </option>
          </select>
          <div *ngIf="semestreSeleccionado" style="display: none;">
            <input type="text" value="{{semestreSeleccionado}}" name="semestre" #semestre="ngModel" [(ngModel)]="crudService.selectIncentivo.semestre">
          </div>
        </div>
        <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Carrera</label>
          </div>
          <select class="custom-select" id="inputGroupCarreras" [(ngModel)]="carreraSeleccionada" (change)="carreraUsuario()" name="carrera">
            <option selected>Seleccionar</option>
            <option *ngFor="let carrera of carreras">
              {{carrera}}
            </option>
          </select>
          <div *ngIf="carreraSeleccionada" style="display: none;">
            <input type="text" value="{{carreraSeleccionada}}" name="carrera" #carrera="ngModel" [(ngModel)]="crudService.selectIncentivo.carrera">
          </div>
        </div>
        <div class="input-group mb-3" [ngStyle]="{display: (chekeado) ? 'flex': 'none'}">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Semestre</label>
          </div>
          <select class="custom-select" id="inputGroupSemestres" [(ngModel)]="semestreSeleccionado" (change)="semestreUsuario()" name="semestre">
            <option selected>Seleccionar</option>
            <option *ngFor="let semestre of semestres">
              {{semestre}}
            </option>
          </select>
          <div *ngIf="semestreSeleccionado" style="display: none;">
            <input type="text" value="{{semestreSeleccionado}}" name="semestre" #semestre="ngModel" [(ngModel)]="crudService.selectIncentivo.semestre">
          </div>
        </div>
        <div class="input-group mb-3" [ngStyle]="{display: (chekeado) ? 'flex': 'none'}">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Carrera</label>
          </div>
          <select class="custom-select" id="inputGroupCarreras" [(ngModel)]="carreraSeleccionada" (change)="carreraUsuario()" name="carrera">
            <option selected>Seleccionar</option>
            <option *ngFor="let carrera of carreras">
              {{carrera}}
            </option>
          </select>
          <div *ngIf="carreraSeleccionada" style="display: none;">
            <input type="text" value="{{carreraSeleccionada}}" name="carrera" #carrera="ngModel" [(ngModel)]="crudService.selectIncentivo.carrera">
          </div>
        </div>
        
        <div class="form-group">
          <label class="lb-decripcion">Descripcion *</label>
          <textarea class="form-control" id="validationTextarea" placeholder="Describe que tipo de incentivo se dara" name="descripcion" #descripcion="ngModel" [(ngModel)]="crudService.selectIncentivo.descripcion" required></textarea>
        </div>
        <div class="form-group row">
          <label for="example-datetime-local-input" class="col-2 col-form-label">Fecha de inicio *</label>
          <div class="col-10">
            <input class="form-control" type="date" name="fechaInicio" #fechaInicio="ngModel" [(ngModel)]="crudService.selectIncentivo.fechaInicio">
          </div>
          <div *ngIf="fechaInicio" style="display: none;">
            <input type="text" value="{{fechaInicio}}" name="fechaInicio" #fechaInicio="ngModel" [(ngModel)]="crudService.selectIncentivo.fechaInicio">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-datetime-local-input" class="col-2 col-form-label">Fecha de fin *</label>
          <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19T13:45:00" name="fechaFin" #fechaFin="ngModel" [(ngModel)]="crudService.selectIncentivo.fechaFin">
          </div>
          <div *ngIf="fechaInicio" style="display: none;">
            <input type="text" value="{{fechaFin}}" name="fechaFin" #fechaFin="ngModel" [(ngModel)]="crudService.selectIncentivo.fechaFin">
          </div>
        </div>
        <div class="ctn-btn-guardar-incentivo">
          <button type="submit" class="btn btn-primary">Guardar incentivo</button>
        </div>
        <div class="ctn-btn-registrar-usuario">
          <button type="reset" class="btn btn-secondary" (click)="resetForm(incentivoForm)">
            <i class="fas fa-sync-alt"></i> Limpiar Formulario
          </button>
        </div>
       </form>
    
    </div>
  </div>
</div>
