<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="">
      <img class="logo-reducido" src="img/logo-reducido.png" alt="">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href="index.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar usuario
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
        </ul>
      </li>
      <li >
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a href="#">Listar incentivos</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike</p>
      </div>
    </nav>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Tipo de usuario</label>
        </div>
        <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" class="custom-select" id="inputGroupUsers" name="usuarios">
          <option selected value="0">Seleccionar</option>
          <option *ngFor="let usuario of poblacion" >
            {{usuario}}
          </option>
        </select>
        <!--<p [hidden]="opcionSeleccionado == 0">Haz seleccionado la opcion {{verSeleccion}} </p>-->
      </div>
      <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Semestre</label>
        </div>
        <select class="custom-select" id="inputGroupSemestres">
          <option selected>Seleccionar</option>
          <option *ngFor="let semestre of semestres">
            {{semestre}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Carrera</label>
        </div>
        <select class="custom-select" id="inputGroupCarreras">
          <option selected>Seleccionar</option>
          <option *ngFor="let carrera of carreras">
            {{carrera}}
          </option>
        </select>
      </div>
      
    </div>
    <div class="container">
      <div class="row">
        <div class="col">Nombre Incentivo</div>
        <div class="col">Reponsable</div>
        <div class="col">Vigencia</div>
        <div class="col">Descripcion</div>
        <div class="col">Acciones</div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">Decimas en gestion ambiental</div>
        <div class="col">Docente rosa melano</div>
        <div class="col">de: 15/04/19 a: 17/05/19</div>
        <div class="col">El estudiante que mas haya venido en bicicleta el mes de abril se le dara 5 decimas a a nota final</div>
        <div class="col btns">
          <a href="" class="btn-editar"><i class="fas fa-edit"></i>Editar</a>
          <a href="" class="btn-eliminar"><i class="far fa-trash-alt"></i>Eliminar</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">Empanadas con cafe gratis</div>
        <div class="col">Cafeteria</div>
        <div class="col">de: 15/04/19 a: 17/05/19</div>
        <div class="col">El estudiante que mas haya venido en bicicleta el mes de abril se le dara empanadas con cafe</div>
        <div class="col btns">
          <a href="" class="btn-editar"><i class="fas fa-edit"></i>Editar</a>
          <a href="" class="btn-eliminar"><i class="far fa-trash-alt"></i>Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>
