<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="">
      <img class="logo-reducido" src="img/logo-reducido.png" alt="">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="/inicio" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar usuario
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
        </ul>
      </li>
      <li >
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a routerLink="/listar-incentivos">Listar incentivos</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike</p>
      </div>
    </nav>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">	
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-id-badge"></i>Identificacion</span>
              </div>
              <input type="email" class="form-control" placeholder="Codigo o cedula" aria-label="email"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col btn-consultar-usuario">
            <a href="">Consultar</a>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container">
      <div class="row">
        <div class="col">Nombre</div>
        <div class="col">Carrera</div>
        <div class="col">Semestre</div>
        <div class="col">Codigo</div>
        <div class="col">Acciones</div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="datos" *ngFor="let user of userList">
          <div class="col">
            <ul class="campo" >
              <li>{{user.nombre}} {{user.apellido}}</li>
            </ul>
          </div>
          <div class="col">
            <ul class="campo" >
              <li>{{user.carrera}}</li>
            </ul>
          </div>
          <div class="col">
            <ul class="campo" >
              <li>{{user.semestre}}</li>
            </ul>
          </div>
          <div class="col">
            <ul class="campo" >
              <li>{{user.id}}</li>
            </ul>
          </div>
          <div class="col btns">
            <button class="btn btn-success" (click)="onEdit(user)"><i class="fas fa-edit"></i>Editar</button>
            <button class="btn btn-danger" (click)="onDelete(user.$key)"><i class="far fa-trash-alt"></i>Eliminar</button>
            <button class="btn btn-primary"> <a routerLink="/codeqr"><i class="fas fa-qrcode"></i>Generar QR</a></button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
