<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img class="logo" src="../../../assets/imagenes/Uni.png" alt="">
      <img class="logo-reducido" src="img/logo-reducido.png" alt="">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="/inicio" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
          Registrar usuario
        </a>
        <ul class="collapse list-unstyled" id="usuarios">
          <li>
            <a routerLink="/registrar-usuario">Registrar</a>
          </li>
          <li>
            <a routerLink="/listar-usuarios">Listar usuarios</a>
          </li>
        </ul>
      </li>
      <li >
        <a routerLink="/reporte" class="dropdown-toggle">
          <i class="fas fa-chart-area"></i>
          Reporte completo
        </a>
      </li>
      <li>
        <a href="#incentivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-briefcase"></i>
          Incentivos
        </a>
        <ul class="collapse list-unstyled" id="incentivos">
          <li>
            <a routerLink="/crear-incentivo">Crear un incentivo</a>
          </li>
          <li>
            <a routerLink="/listar-incentivos">Listar incentivos</a>
          </li>
        </ul>
        <a href="autorizaciones.html" class="dropdown-toggle">
          <i class="fas fa-key"></i>
          Autorizaciones
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="fas fa-image"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p>Bienvenido al Team Bike</p>
      </div>
    </nav>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3" style="margin: 0 !important">	
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-id-badge"></i>Identificacion</span>
              </div>
              <input type="email" class="form-control" placeholder="Codigo o cedula" aria-label="email"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col btn-consultar-usuario">
            <a href="">Consultar</a>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container">
      <div class="row">
        <div class="col grid">Nombre</div>
        <div class="col grid">Carrera</div>
        <div class="col grid">Semestre</div>
        <div class="col grid">Codigo</div>
        <div class="col grid">Acciones</div>

      </div>
    </div>
    <div class="container" *ngIf="userList.length > 0; else nousuarios">
      <div class="row">
        <div class="datos" *ngFor="let user of userList">
          <div class="col grid">
            <ul class="campo" >
              <li>{{user.nombre}} {{user.apellido}}</li>
            </ul>
          </div>
          <div class="col grid ">
            <ul class="campo" >
              <li>{{user.carrera}}</li>
            </ul>
          </div>
          <div class="col grid">
            <ul class="campo" >
              <li>{{user.semestre}}</li>
            </ul>
          </div>
          <div class="col grid">
            <ul class="campo" >
              <li>{{user.$key}}</li>
            </ul>
          </div>
          <div class="col btns grid">
            <button style="margin-right: 7px" class="btn btn-success" (click)="onEdit(user)" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-user"></i></button>
            <button class="btn btn-success" (click)="onEdit(user)" data-toggle="modal" data-target=".bd-example-modal-lg2"><i class="fas fa-bicycle"></i></button>
            <button class="btn btn-danger" (click)="onDelete(user.$key)"><i class="far fa-trash-alt"></i>Eliminar</button>
            <button class="btn btn-primary" (click)="onEdit(user)" data-toggle="modal" data-target=".bd-example-modal-lg3"><i class="fas fa-qrcode"></i>Generar QR</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<ng-template #nousuarios> 
  <p>Aun no hay usuarios registrados</p>
</ng-template>

<!-- Large modal Estudiante-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="contenedor-formulario">
        <div id="profileContainer">
            <div class="container conten-formulario">
              <div class="row">
                <div class="col-md-4">
                  <div class="avatarFrameonline">
                    <img [src]="croppedImage" />
                    
                  </div>
                  <hr />
                                        
                </div>
                <div class="contenedor-formulario">
                  <div class="col-5 ctn-foto-usuario">
                    <label for="file-upload" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Subir foto de usuario
                    </label>
                    <input id="file-upload" type="file" (change)="fileChangeEvent($event)" />
                  </div>
                  <div>
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                      [resizeToWidth]="128" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" format="png"
                      outputType="base64" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                      (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                  </div>
                  <form class="form-registrar-usuario" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                    <h1 class="titulo-login">Datos de Usuario</h1>
                    <input type="hidden" name="$key" #key="ngModel" [(ngModel)]="crudService.selectUser.$key">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="nombre-usuario">Nombres</label>
                        <input type="text" class="form-control" id="nombre-usuario" placeholder="Nombre(s)" name="nombre" #nombre="ngModel" [(ngModel)]="crudService.selectUser.nombre">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Apellido</label>
                        <input type="text" class="form-control" placeholder="Apellido(s)" name="apellido" #apellido="ngModel" [(ngModel)]="crudService.selectUser.apellido">
                      </div>
                    </div>
                    
                  
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Tipo de usuario</label>
                      </div>
                      <select [(ngModel)]="tipoSeleccionado" (change)="capturar()" class="custom-select" id="inputGroupUsers" name="tipo">
                        <option selected>{{crudService.selectUser.tipo}}</option>
                        <option *ngFor="let usuario of poblacion" >
                          {{usuario}}
                        </option>
                      </select>
                      <div style="display: none">
                        <input type="text" value="{{tipoSeleccionado}}" name="tipo" #tipo="ngModel" [(ngModel)]="crudService.selectUser.tipo">
                      </div>
                    </div>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Tipo de identificacion</label>
                      </div>
                      <select class="custom-select" id="inputGroupIds" [(ngModel)]="idSeleccionado" (change)="idUsuario()" name="tipoid">
                        <option selected>{{crudService.selectUser.tipoid}}</option>
                        <option *ngFor="let id of identificaciones" >
                          {{id}}
                        </option>
                      </select>
                      <div style="display: none">
                        <input type="text" value="{{idSeleccionado}}" name="tipoid" #tipoid="ngModel" [(ngModel)]="crudService.selectUser.tipoid">
                      </div>
                    </div>
                    <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Semestre</label>
                      </div>
                      <select class="custom-select" id="inputGroupSemestres" [(ngModel)]="semestreSeleccionado" (change)="semestreUsuario()" name="semestre">
                        <option selected>{{crudService.selectUser.semestre}}</option>
                        <option *ngFor="let semestre of semestres">
                          {{semestre}}
                        </option>
                      </select>
                      <div style="display: none">
                        <input type="text" value="{{semestreSeleccionado}}" name="semestre" #semestre="ngModel" [(ngModel)]="crudService.selectUser.semestre">
                      </div>
                    </div>
                    <div class="input-group mb-3" [ngStyle]="{display: (visible) ? 'flex': 'none'}">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Carrera</label>
                      </div>
                      <select class="custom-select" id="inputGroupCarreras" [(ngModel)]="carreraSeleccionada" (change)="carreraUsuario()" name="carrera">
                        <option selected>{{crudService.selectUser.carrera}}</option>
                        <option *ngFor="let carrera of carreras">
                          {{carrera}}
                        </option>
                      </select>
                      <div style="display: none">
                        <input type="text" value="{{carreraSeleccionada}}" name="carrera" #carrera="ngModel" [(ngModel)]="crudService.selectUser.carrera">
                      </div>
                    </div>
                    <label>Numero de identificacion</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                      </div>
                      <input type="number" class="form-control" placeholder="Numero de identificacion" name="identificacion" #identificacion="ngModel" [(ngModel)]="crudService.selectUser.$key">
                    </div>
                  </div>
                  
                  <div class="container">
                    <div class="row">
                      <div class="ctn-btn-registrar-usuario">
                        <button type="submit" class="btn btn-primary" (click)="actualizar()">
                          <i class="fas fa-plus-circle"></i> Actualizar Usuario
                        </button>
                      </div>
                      <div class="ctn-btn-registrar-usuario">
                        <button type="reset" class="btn btn-secondary" (click)="resetForm(userForm)">
                          <i class="fas fa-sync-alt"></i> Limpiar Formulario
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Large modal Bicicleta-->
<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="contenedor-formulario">
        <div id="profileContainer">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="avatarFrameonline">
                    <img [src]="croppedImage" />
                    
                  </div>
                  <hr/>
                                        
                </div>
                <div class="contenedor-formulario">
                  <div class="col-5 ctn-foto-usuario">
                    <label for="file-upload" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Subir foto de Bicicleta
                    </label>
                    <input id="file-upload" type="file" (change)="fileChangeEvent($event)" />
                  </div>
                  <div>
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                      [resizeToWidth]="128" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" format="png"
                      outputType="base64" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                      (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                  </div>
                  <form class="form-registrar-usuario" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                    <h1 class="titulo-login">Datos de Bicicleta</h1>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="nombre-usuario">Marca</label>
                        <input type="text" class="form-control" id="nombre-usuario" placeholder="Nombre(s)" name="nombre" #nombre="ngModel" [(ngModel)]="crudService.selectUser.nombre">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Color</label>
                        <input type="text" class="form-control" placeholder="Color Bicicleta" name="color" #color="ngModel" [(ngModel)]="bicicletaList">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Serial</label>
                        <input type="text" class="form-control" placeholder="Apellido(s)" name="apellido" #apellido="ngModel" [(ngModel)]="crudService.selectUser.apellido">
                      </div>
                    </div>                 
                  <div class="container">
                    <div class="row">
                      <div class="ctn-btn-registrar-usuario">
                        <button type="submit" class="btn btn-primary" (click)="actualizarBike()">
                          <i class="fas fa-plus-circle"></i> Actualizar Bicicleta
                        </button>
                      </div>
                      <div class="ctn-btn-registrar-usuario">
                        <button type="reset" class="btn btn-secondary" (click)="resetForm(userForm)">
                          <i class="fas fa-sync-alt"></i> Limpiar Formulario
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>      
      </div>
    </div>
  </div>
</div>
</div>

<!-- Large modal Bicicleta-->
<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h1>Codigo QR del usuario</h1>
        <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "keyUsuario"></ngx-qrcode>
    </div>
  </div>
</div>
  
